$font-family: Roboto, sans-serif;
$color-primary: #060b35;
$color-secondary: #616070;
$color-border: #f3f3f3;
$color-buy: #00acdc;
$color-buy-hover: #009abe;
$card-width: 200px;
$card-padding: 16px;
$stars-count: 5;
